---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About Page">
    <h1>About</h1>
    <!-- Pasar title por props -->
    <CustomTitle title="Otro" />
</MainLayout>

<!--
Estilo global para todos los h1 de este componente incluyendo los no locales ej CustomTitle
Se inserta em un .css automaticamente
<style is:global>

Estilo que solo afecta al componente local
Es codigo scopeado en el html (About)
<style is:inline> -->
<style>
    h1 {
        color: red;
    }
</style>
